Insta


= react_component("MainApp", {message: "front"})


- @photos.each do |p|
  %br

  - p.locations.each do |l|
    = link_to "https://www.google.com/maps?q=#{l.lat},#{l.lng}" do
      = l.address.blank? ? "#{l.lat}, #{l.lng}" : l.address 
      %br

  = image_tag p.image[:medium].url
